.navbar
  padding: 20px 0
  background-color: $primary-color
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__logo-wrapper
    width: 90px
    height: 28px
  &__list
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0
    margin: 0
    list-style: none
  &__item
    margin-right: auto
    margin-left: 45px
  &__item-landings
    position: relative
  &__item-pages
    position: relative
  &__link
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $light-color
    text-decoration: none
    &:focus
      outline: none
  &__button
    display: inline-block
    padding: 11px
    width: 131px
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 22px
    text-decoration: none
    text-align: center
    border: 2px solid $light-color
    border-radius: 8px
    color: $light-color
.arrow
  position: absolute
  top: -3px
  right: -14px
  width: 9px
  height: 16px
  cursor: pointer

.sub-menu
  list-style: none
  background-color: $light-color
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
  border-radius: 12px
  &__landings
    position: absolute
    top: 40px
    left: 0
    margin: 0
    padding: 38px 34px 26px 32px
    width: 260px
    display: none
  &__item
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
  &__link
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    text-decoration: none
    color: $text-color-dark
    &:focus
      outline: none
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $primary-color
  &__services
    position: absolute
    top: 35px
    right: -215px
    width: 240px
    padding: 32px
    display: none
  &__products
    position: absolute
    top: 80px
    right: -215px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__pages
    position: absolute
    top: 40px
    left: 0
    margin: 0
    padding: 38px 34px 26px 32px
    width: 260px
    display: none
  &__company
    position: absolute
    right: -215px
    bottom: -115px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__career
    position: absolute
    top: 75px
    right: -215px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__blog
    position: absolute
    top: 115px
    right: -215px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__signin
    position: absolute
    top: 155px
    right: -215px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__signup
    position: absolute
    right: -215px
    bottom: -155px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__passreset
    position: absolute
    right: -215px
    bottom: -200px
    width: 240px
    width: 240px
    padding: 32px
    display: none
  &__notfound
    position: absolute
    right: -215px
    bottom: -240px
    width: 240px
    width: 240px
    padding: 32px
    display: none
.sub-arrow
  width: 7px
  height: 16px
